#sitebody {
  background-image: linear-gradient(#c7a4ff, #382957);
  background-repeat: space;
}
.center {
  margin: auto;
  max-width: 50%;
  min-width: 15%;
  padding: 10px;
  text-align: center;
/*   border: 3px solid red;*/
}
.responsive {
/*  max-width: 55%;
  min-width: 20%; */
  width:35%;
  height: auto;
}
.pad {
  padding: 5%;
}
#main {
  width: 100%;
  height: 99%;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  align-self: center;
  float:left;
/*  border: 1px solid green; */
}
#donbox {
  margin: auto;
  min-width: 50%;
  max-width: 75%
  overflow: visible;
  padding-left: 5%;
/*  border: 1px solid yellow; */
}
.donboxcontainer {
  position: relative;
  overflow: hidden;
  min-width: 50%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
/*  border: 1px solid blue; */
}
.row {
 max-width: 100%;
 width: auto;
}
